.sticky-note-lane {
  border-bottom:1px solid #ccc;
  height: 100%;
  border-left:1px solid #ccc;
  min-height:100%;
  height:"calc(100% - 42px");
  position: relative;
}

.sticky-note-lane * {
  box-sizing: border-box;
}

.sticky-note-lane  button {
  background-color: transparent;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: inline-block;
  margin: 5px 8px;
  float:right;
  transition: background-color 500ms;
}

.sticky-note-lane  button:hover {
  cursor:pointer;
  background-color: #ddd;
  transition: background-color 500ms;
}

.sticky-note-lane  button > span {
  display: block;
  height: 30px;
  width: 30px;
  margin-left:-8px;
  font-size:42px;
  font-weight: bold;
  line-height: 26px;
}

.sticky-note-lane > div{
  height:calc(100% - 42px);
  padding:8px;
  background-color:#fff;
  transition: background-color 250ms;
  overflow:auto;
  position: absolute;
  width:100%;
}

.sticky-note-lane > div.dragover {
  background-color:#ddd;
  transition: background-color 250ms;
}

.sticky-note-lane.horizontal {
  width: 100%;

  /*border-bottom: 1px solid #ccc;*/
}

.sticky-note-lane.horizontal > strong,
.sticky-note-lane.horizontal > div {
  float:left;
}

.sticky-note-lane.horizontal > strong {
  width:calc( 1.25em + 16px);
  height: 100%;
  border-right: 1px solid #ccc;
  border-bottom:none;
  overflow: hidden;
}

.sticky-note-lane.horizontal > strong > span{
  /*transform-origin: */
  transform-origin: 85px 95px;
  transform: rotate(-90deg);
  display: block;
  text-align:center;
  height:calc( 1.25em + 16px);

}

.sticky-note-lane.horizontal > div {
  width: calc(100% - 42px);
  height:100%;
  right:0;
}
