.sticky-note-lane-group {
  /*border-bottom:1px solid #ccc;*/
  height: 100%;
  border-left:1px solid #ccc;
  min-height:100%;
}

.sticky-note-lane-group > strong {
  border-left:1px solid #ccc;
}

.sticky-note-lane-group > div {height:100%;}

.sticky-note-lane-group > strong + div {height: calc(100% - 42px);}

.sticky-note-lane-group div[class^="sticky-note-lane-"] {
  border-left:none;
}
