.sticky-note-board {
  position: absolute;
  z-index: 0;
  background-color: #fff;
  width: 100%;
  min-width:1015px;
  border-bottom:1px solid #ccc;
  height: 100%;
  box-sizing: border-box;
}

div[class ^= "sticky-note"] > strong {
  display: block;
  text-align: center;
  line-height: 1.25em;
  font-size:1.25em;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
}

.sticky-note-board > div {
  height: calc(100% - 42px);

}

.sticky-note-board * {
  box-sizing: border-box;
}
